<h4>{{movie.title}}</h4>
<p>{{movie.overview}}</p>
<p>{{movie.poster_path}}</p>
<h5>{{movie.release_date}}</h5>
<h5>{{movie.original_language}}</h5>
<img src={{movie.poster_path}} alt={{movie.title}} width="500">

{{#if isImageShowing}}
  <p><img src="https://image.tmdb.org/t/p/w500/fYzpM9GmpBlIC893fNjoWCwE24H.jpg" alt={{movie.title}} width="500"></p>
  <button {{action "imageHide"}}>Hide image</button>
{{else}}
  <button {{action "imageShow"}}>Show image</button>
{{/if}}
